<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>${env.KOWALSKI_HOME}/data/repository</localRepository>
	<interactiveMode>false</interactiveMode>
	<usePluginRegistry>false</usePluginRegistry>
	<offline>false</offline>
	<activeProfiles>
		<activeProfile>central</activeProfile>
		<activeProfile>jcenter</activeProfile>
		<activeProfile>clojars</activeProfile>
	</activeProfiles>
	<profiles>
		<profile>
			<id>central</id>
			<repositories>
				<repository>
					<id>central</id>
					<url>https://repo1.maven.org/maven2</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>jcenter</id>
			<repositories>
				<repository>
					<id>jcenter</id>
					<url>http://jcenter.bintray.com</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>clojars</id>
			<repositories>
				<repository>
					<id>clojars.org</id>
					<url>http://clojars.org/repo</url>
					<releases>
						<enabled>true</enabled>
						<updatePolicy>always</updatePolicy>
						<checksumPolicy>warn</checksumPolicy>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
		</profile>
	</profiles>
</settings>
